<h1>Info de la aplicación web</h1>

<ul>
    <li>
        <strong>Argumentos de entrada: </strong>{{{arguments}}}
    </li>
    <li>
        <strong>Path de ejecución: </strong>{{{pathExec}}}
    </li>
    <li>
        <strong>Nombre de la plataforma (S.O.): </strong>{{{so}}}
    </li>
    <li>
        <strong>ID del proceso: </strong>{{{idProcess}}}
    </li>
    <li>
        <strong>Version de Node.js: </strong>{{{version}}}
    </li>
    <li>
        <strong>Carpeta del proyecto: </strong>{{{folder}}}
    </li>
    <li>
        <strong>Memoria total reservada: </strong>{{{memory}}}
    </li>
</ul>